*{
    font-family: "Press Start 2P", system-ui;
}

#heading {
    text-align: center;
}

#main-div {
    display: flex;
    justify-content: center;
}

#boxes {
    display: flex;
}

.column div {
    display: flex;
    box-shadow: inset 2px 2px 15px rgba(0, 0, 255, 0.233);
    width: 100px;
    height: 100px;
    margin: 5px;
    margin-left: 1.5px;
    justify-content: center;
    font-size: 70px;
    align-items: center;    
}

.column div:hover {
    box-shadow: inset 2px 2px 20px rgba(0, 0, 255, 0.233);
    background-color: rgba(240, 248, 255, 0.459);
}

#game-status {
    text-align: center;
}

#clear-button {
    display: block;
    margin: auto;
    height: 50px;
    width: 260px;
    font-size: 30px;
    border-radius: 10px;
    background-color: rgba(21, 167, 21, 0.808);
    border: 0px;
}

#clear-button:hover {
    background-color: rgb(21, 167, 21);
}